<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">About BUGSook</h2>

      <P>BUGSook은 숙명여대 학생들이 이용하는 외부 커뮤니티에서 처음 시작되었습니다.</p>
        <P>벌레롤 못 잡는 자취 학우를 위해 벌레를 잡을 수 있는 학우들이 직접 가서 잡아주는 학내 문화가 형성되어있음을 알게 되었고
          <br>이를 웹서비스화해서 자체적인 벌레잡이 서비스로 발전시키고자 했습니다.</p>
        <p>바퀴벌레와 같은 벌레가 나타나서 빨리 없애버리고 싶으나 손 쓸 방법을 모르겠는 송이들이 <br>
          BUGSook에 요청 글을 남기면 킬러 매칭 후 킬러가 벌레를 잡으러 갑니다. <br>
        * 해당 서비스에는 의뢰비와 사례비가 요구됩니다. </p>

    </div>
  </body>
</html>
