<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>BUGSook</h1>
        <P>숙명여자대학교 학내 자취생 벌레잡이 서비스</p>
      </div>

    </div>
  </body>
</html>
